*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #263238;
	background:#C2C2C2;
}

.flex {
	display: flex;
}

header {
	background:white;
	height:300px;
	width:100%;
	position: relative;
	border-bottom-left-radius:150px;
}

header h1 {
	left: 70px;
    position: absolute;
}

.banner {
	justify-content: space-between;
	margin: 0 50px;
	font-size: 30px;
}